<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/header.ejs")%>
  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="container-md text-center">
      <img class="img-fluid rounded" src="/404.webp" />
      <a href="/home"><button class="btn btn-primary btn-bg-primary">Go HOME</button></a>
    </div>
    <%- include("./partials/footer.ejs")%>
  </body>
</html>
