<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/header.ejs")%>
  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="container-md my-5">
      <h2>About me</h2>
      <div class="row">
          <div class="col">
            <img class="img-fluid" src="/profile-ascii.png" alt="" />
          </div>
          <div class="col">
            <p>
              Hi, I’m Abhiram S Sajeev, a passionate software developer with a
              strong foundation in Computer Science and Engineering. I specialize in
              full-stack development and artificial intelligence, and I love solving
              complex problems through technology. After graduating with a B.Tech in
              CSE with a specialization in Data Science, I’ve worked on diverse
              projects, including a standout project named VideoQuest, an
              application leveraging advanced AI techniques like Retrieval-Augmented
              Generation (RAG) for video-based question answering.
            </p>
            <p>
              I have hands-on experience with Python, JavaScript, and various
              backend and frontend technologies like Node.js, Express.js, Streamlit,
              and Docker. Currently, I’m diving deeper into backend development,
              mastering Node.js and Express.js while working on full-stack
              applications. Additionally, I’m honing my competitive programming
              skills, continuously looking for efficient and elegant solutions to
              coding challenges.
            </p>
            <p>
              I’m always eager to learn new tools and technologies, especially those
              at the intersection of web development and machine learning, and I aim
              to build scalable, reliable, and innovative solutions. When I’m not
              coding, you’ll find me at the gym, focusing on bodybuilding, or
              exploring advanced mathematical concepts.
            </p>
            <p>Let’s create something amazing together!</p>
          </div>
      </div>
    </div>
    <%- include("./partials/footer.ejs")%>
  </body>
</html>
