.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 0 auto;

}

.profile-card {
    background-color: violet;
    width: 90vw;
    max-width: 1000px;
    text-align: center;
}
