*{
    font-family: sans-serif;
}

body{
    margin: 0;
}

nav{
    width: 70vw;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 2px 5px -5px grey;
    height: 4em;
    
}

nav a{
    text-decoration: none;
    color: grey;
    font-size: 1.5em;
}

a:hover{
    color: black;
}


/*------------form----------------*/

.middle-session{
    width: 80vw;;
    margin: 10em auto;
    text-align: center;
}

input{
    padding: 1em 2em;

}

input[type="submit"]{
    padding: 0.5em 2em;
}


/*-------footer-----------*/
footer{
    height: 20em;
    background-color: red;
}